[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
vrpclient = {editable = true,path = "."}

[packages]
python-socketio = "*"
urllib3 = "*"
click = "*"
colorama = "*"
python-vlc = "*"
PyQt5 = "*"
requests = "*"
pyqt5 = "*"

[requires]
python_version = "3.7"
