[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pre-commit = "*"
isort = {extras = ["pipfile"],version = "*"}

[packages]
click = "*"
colorama = "*"
python-vlc = "*"
pyqt5 = "*"

[requires]
python_version = "3.7"
