[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
isort = {extras = ["pipfile"],version = "*"}
flake8 = "*"
pytest= "<=5.0.1"
coloredlogs = "*"
pytest-qt = "*"
pyinstaller = "==3.4"
virtualenv = "==16.1.0"
black = "*"
mypy = "*"
fbs = {git = "https://github.com/garytyler/fbs",ref = "aab229fd90a431de4173105475591e8d875dd02e"}

[packages]
ffmpeg-python = "*"
python-vlc = "*"
PyQt5 = "==5.9.2"
QtAwesome = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
